/* Default */
img{
    max-width: 100%;
}
li{
    list-style: none;
}
ul{
    margin-left: 0;
}

.pricing-table{
    background-color: #f6f9fc;
    padding: 50px 0;
}

.pricing-content h6 {
    margin-bottom: 10px;
    color: #8578ee;
}
.pricing-content h3 {
    font-size: 32px;
    margin-bottom: 25px;
    position: relative;
}
.pricing-content h3::after {
    content: "";
    position: absolute;
    width: 54px;
    height: 2px;
    left: 195px;
    bottom: -9px;
    background: #3d68eb;
}
.pricing-content p {
    color: #8f8f93;
    font-weight: 500;
    margin-bottom: 64px;
}


.pricing-items{
    transition: .5s;
}
.pricing-items h5 {
    padding-top: 40px;
    margin-bottom: 22px;
}
.pricing-items h1{
        font-size: 43px;
        margin-bottom: 80px;
        position: relative;
}
.pricing-items h1::after {
    content: "";
    position: absolute;
    left: 77px;
    bottom: -66px;
    width: 59%;
    height: 1px;
    background-color: #ddd;
    
}

.pricing-items:hover h1{
    animation: example 2s infinite;
}


@keyframes example {
    from {color: #666d78;}
    to {color: #fff;}
  }

.pricing-items ul{
    padding: 0;
    margin-top: 15px;
}
.pricing-items ul li {
    color: #848687;
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 4px;
}
.pricing-items:hover ul li{
    color: #fafafafa;
}

.pricing-btn{}


.pricing-btn a {
    display: inline-block;
    padding: 6px 16px;
    background: #335fe4;
    color: #fff;
    border-radius: 21px;
    text-decoration: none;
    position: relative;
    z-index: 1;

    font-size: 17px;
    margin-bottom: 45px;
    border-color: #335fe4;
    
}

.pricing-btn a::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 21px;
    width: 0;
    height: 100%;
    background-color: #335fe4;
    border-color:#fff;
    transition: .5s;
    z-index: -1;
}

.pricing-btn a:hover::after{
    width: 100%;
}

.pricing-btn a:hover{
    color: #fff !important;
}

.pricing-items:hover{
    background-color: #335fe4;
    color: #fff;
    transition: .2s;
}

.pricing-items:hover .pricing-btn a{
    background-color: #fff;
    color: #335fe4;
}

/* service */
.service{
    background: url(https://i.ibb.co/BfvcYwn/free-bg.jpg) no-repeat center ;
    background-size: cover;
    padding: 120px;
    position: relative;
    z-index: 1;
}
.service::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(58, 104, 214, .8);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.service h6 {
    color: #ddd;
    margin-bottom: 10px;
}
.service h2 {
    font-size: 34px;
    margin-bottom: 31px;
    position: relative;
}
.service h2::after {
    content: "";
    position: absolute;
    width: 54px;
    height: 1px;
    left: 228px;
    bottom: -12px;
    background: #fff;
}
.service p {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 25px;
}
.service a {
    display: inline-block;
    background: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 22px;
    font-size: 17px;
    font-weight: 500;
    color: #335fe4;
    position: relative;
    z-index: 1;
    
    
}
.service a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #335fe4;
    left: 0;
    top: 0;
    border-radius: 22px;
    transition: .5s;
    z-index: -1;
    
}
.service a:hover::after{
    width: 100%;
    color: #fff;
}

.service a:hover{
    color: #fff;
}



/* newsletter */
.newsletter{
    background-color: #f8f9fa;
    padding: 70px 0;
}

.sign-up{
    background-color: #335fe4;
    padding: 30px 10px 50px 20px;
}

.newsletter h3 {
    font-size: 29px;
    margin-bottom: 22px;
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 14px;
}
.newsletter p {
    font-size: 17px;
    margin-bottom: 27px;
}
.newsletter input {
    border-radius: 24px;
    font-size: 17px;
    font-weight: 400;
    color: #fafafa;
}
.newsletter .n-left-btn{}
.newsletter .n-left-btn a {
    border: 1px solid #ddd;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 4px 17px;
    border-radius: 27px;
    font-weight: 500;
}
.newsletter-right h3 {
    font-size: 29px;
    margin-bottom: 71px;
}
.newsletter-right a {
    border-radius: 18px;
    padding: 5px 17px;
    font-size: 17px;
    margin-bottom: 10px;
}
